 <ion-modal-view>
 	<ion-content class="login-bg" padding="true">
 	<div class="col text-right">
 	<button class="button button-clear" ng-click='modal.hide()'><i class="icon ion-ios-close-outline light large-icon" ></i></button>
 	   </div>
   		<div class="login-logo center">
 			<img src="images/eater_logo.png">
 		</div>
 		<div class="form-style">

 			<form >
 				<input class='light' type="email" name="field1" placeholder="Email" ng-model="user.email"/>
 				<input class='light' type="password" name="field2" placeholder="Senha" ng-model="user.password" />
 			</form>
 		</div>

 		<div class="login-menu center">
	 		<a class="button button-block button-round-light" ng-click='vm.emailLogin(user.email,user.password)'  >
	 			LOGIN
	 			<i class="ion-icon ion-arrow-right-c"></i>
	 		</a>
 			<a class="button button-block button-round-azure extra-spacing icon ion-social-facebook icon-margin-r-5" ng-click="modal.hide();vm.facebookLogin()">
 			Facebook
 			</a>
 			<a class="button button-clear button-block button-clear-white" href="#/app/register" ng-click='modal.hide()' >
			Não tem cadastro? Crie sua conta
			</a>
 			<hr class="extra-small">
					<a class="button button-clear button-block button-clear-gray" ng-click="vm.resetPassword(user.email)" >
							Esqueceu sua senha?
						</a>

 		
 	</ion-content>

 </ion-modal-view>