// Default Fonts, Font Family

$default-font-family:                 MyriadPro;
$default-font-size:                   14px;
$default-font-color:                  #000;

// Default APP color scheme used to create an visual identity

$default-brand-color:                 #ac3440;
$default-orange:                      rgb(243, 116, 65);

$body-bg:			#f5f5f5;
$grey:				#bdbdbd;
$grey-lighter:		#f5f5f5;
$grey-darker:		#909090;
