<ion-modal-view class="custom_modal" id="modal-antecedentes-pessoais">
    <ion-header-bar class="bar bar-header bar-light">
        <h1 class="title title-left">Antecedentes Pessoais</h1>       
    </ion-header-bar>
    <ion-content class="padding" overflow-scroll="true">
        <ion-scroll delegate-handle="scroller-modal-dados-visita" direction="y"  style="width: 100%; height: 115%; padding-bottom: 50px">
            <ion-checkbox ng-repeat="item in ant_doencas_pessoais"
                          ng-value="item.value"    
                          ng-model="item.checked" 
                          ng-checked="item.checked">
                {{ item.text }}
            </ion-checkbox>
            <span class="input-label">Possui alergia?</span>            
            <div class="row">                
                <ion-radio ng-repeat="item in ant_alergia_sn"
                           ng-value="item.value"
                           ng-model="data_ap.ant_alergia_sn"                            
                           name="conjugada_sn"
                           class="col-40"
                           >
                    {{ item.text }}
                </ion-radio> 
            </div>
            <span class="input-label">Especifique</span>
            <input type="text" ng-model="ant_alergia_obs" name="ant_alergia_obs" id="ant_alergia_obs">            
        </ion-scroll>
    </ion-content>
    <div class="bar bar-footer row">
        <button class="button button-clear button-stable col col-50" ng-click="modalAntecedentesPessoais.hide()">Cancelar</button>
        <button class="button icon-right ion-checkmark button-clear button-balanced col col-50 confirm" ng-click="modalAntecedentesPessoais.hide()">Confirmar</button>
    </div>
</ion-modal-view>