@font-face {
    font-family: "MyriadPro";
    src: url("../fonts/MyriadPro-Regular.otf");
}

@font-face {
    font-family: "MyriadPro";
    src: url("../fonts/MyriadPro-Bold.otf");
    font-weight: bold;
}