<!-- Header-->
<div class="header">
    <div class="title">
        Falha no Login!
    </div>

    <hr>
</div>

<!-- Mensagem de corpo -->
<div class="body">
    Você possui cadastro apenas como Chef, deseja se cadastrar como consumidor também?
</div>

<!-- Rodapé/Botões -->
<div class="row footer">
    <!-- Botão de câmera -->
    <button class="col col-45 button camera" ng-click="goToRegister()">
        Sim
    </button>
    <!-- Espaço vazio para preencher o grid -->
    <div class="col col-10"></div>
    <!-- Botão de galeria -->
    <button class="col col-45 button picker" ng-click="closePopup()">
        Não
    </button>
</div>
