<div id="header">
    <i class="ion-close" ng-click="closeModal()"></i>
	<div class="title">
		Cancelar pedido
	</div>
    <hr>
</div>

<div id="body">
	Tem certeza de que deseja cancelar o seu pedido?
</div>

<!--<ion-modal-view class="ion-cancel-modal">
        <ion-content>
            <div class="ion-modal-content-custom">
                <div class="text-center">
                    <p style="font-size: 18px; font-weight: 600;">Tem certeza que deseja cancelar seu pedido?</p>
                </div>
                <div style="margin-top:40px;">
                    <button ng-click="cancelOrder()" class="but-red" style="width: 40%; margin-left:10px;">Sim</button>
                    <button ng-click="closeModal()" class="but-red outline" style="width: 40%; float:right; margin-right:10px;">Não</button>
                </div>
            </div>
        </div>
      </ion-content>
</ion-modal-view>-->
